<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- tutorial followed from https://www.tutorialspoint.com/ruby-on-rails/rails-layouts.htm -->
<html>

   <head>
      <title>ECE-595 Blog Application</title>
      <%= stylesheet_link_tag "style" %>
      <%= csrf_meta_tags %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 
   </head>

   <body id = "posts">
      <div id = "container">
         
         <div id = "header">
            <h1>ECE-595 Blog Application</h1>
            <h3>Powered by Ruby on Rails</h3>
         </div>

         <div id = "content">
            <%= yield -%>
         </div>

         
      </div>
   </body>
   
</html>
